.Photos-List {
  .Panel__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-right: 0;
    padding-bottom: 0;

    &>* {
      margin-right: $theme.spacings.md;
      margin-bottom: $theme.spacings.md;
    }
  }
}