.User-Data-Section {
  &__title-container {
    border-bottom: 1px solid $theme.colors.brand['500'];
  }

  &__content {
    margin-left: $theme.spacings.sm;
    border-spacing: 0;

    &>tbody>*:nth-child( even ) {
      background-color: $theme.colors.grey['500'];
    }
  }
}