.User-Data-Entry {
  &__description {
    padding-right: $theme.spacings.sm;
    white-space: nowrap;
  }

  &__content {
    border-left: 1px solid $theme.colors.brand['500'];
    padding-left: $theme.spacings.sm;
    width: 100%;
  }
}