$theme = {
  colors: {
    black: #000000,
    white: #FFFFFF,
    grey: {
      '400': #FAFAFA,
      '500': #F5F5F5,
      '600': #EEEEEE,// borders
      '700': #E0E0E0,// shadows
      '800': #888888,// shadows
    },
    brand: {
      '400': #49A7F3,
      '500': #1E88E5,
      '600': #0C4782,
    },
  },
  spacings: {
    sm: 0.5rem,
    md: 1rem,
  },
  font: {
    size: 14px,
  },
  text-opacity-levels: {
    black: 0.87,
  },
  transition-duration: 150ms,
}

$theme.font.family = 'Roboto', sans-serif;

$theme['box-shadow-color'] = $theme.colors.grey['700'];
